# Problem 2 - Summarizing trending topics about a location (place).

### Loading the required package and setting up authentication to access Twitter API

In [1]:
#loading the required package(s)
library(twitteR)

In [2]:
#Enter your own consumer_key, consumer_secret, access_token and access token secret
setup_twitter_oauth(consumer_key, consumer_secret, access_token=NULL, access_secret=NULL)

[1] "Using direct authentication"

### Change the input location below

In [3]:
line <- "New York"

In [4]:
#Getting the availaibility of trends
avail_trends = availableTrendLocations()

#Fetching the top 6 trends
head(avail_trends, 10)

   name       country        woeid
1  Worldwide                 1
2  Winnipeg   Canada         2972
3  Ottawa     Canada         3369
4  Quebec     Canada         3444
5  Montreal   Canada         3534
6  Toronto    Canada         4118
7  Edmonton   Canada         8676
8  Calgary    Canada         8775
9  Vancouver  Canada         9807
10 Birmingham United Kingdom 12723

In [5]:
#Getting the woeid for the input location
woeid <- as.integer(avail_trends[which(avail_trends$name == line), ][3])

In [6]:
#Check if woeid is present in the data frame
if(is.na(woeid)){
    print(paste("There is no trending topics in ", line, ". Please try some other location"))
}

In [7]:
trends = getTrends(woeid)

In [8]:
head(trends, 6)

  name             url
1 LeBron           http://twitter.com/search?q=LeBron
2 México           http://twitter.com/search?q=M%C3%A9xico
3 World Cup        http://twitter.com/search?q=%22World+Cup%22
4 #Isles           http://twitter.com/search?q=%23Isles
5 Warriors         http://twitter.com/search?q=Warriors
6 #TheBachelorette http://twitter.com/search?q=%23TheBachelorette
  query              woeid
1 LeBron             2459115
2 M%C3%A9xico        2459115
3 %22World+Cup%22    2459115
4 %23Isles           2459115
5 Warriors           2459115
6 %23TheBachelorette 2459115

### Summarizing the Trending Topics at the user input location

In [9]:
cat("The trending topics at", line, "are:\n")
cat("\n")
for(i in trends$name){
    cat(i)
    cat("\n")
}

The trending topics at New York are:

LeBron
México
World Cup
#Isles
Warriors
#TheBachelorette
#BasketballWives
#LHHATL
Trae Young
Bob Myers
Alan Dershowitz
#UnlikelyPawnShopItems
Dr. Shelby
Rick Porcello
Jaren Jackson
The Revival
Daniel Murphy
Baron Corbin
Roman Reigns
Loaisiga

## Reference::

1. J. Gentry. TwitteR Vignette: A Twitter Client for R. http://geoffjentry.hexdump.org/twitteR.pdf, last viewed 2017.

Link to [Problem1](Problem1.ipynb)  
Link to [Part1-RVignette](Part1-RVignette.ipynb)